{{ define "main" }}

  <!-- hero area -->
  <section class="hero-area bg-primary overflow-hidden" id="parallax">
    <div class="container">
      <div class="row">
        <div class="col-lg-11 mx-auto">
          <h1 class="text-white font-tertiary" style="font-size:60px;">{{ .Site.Data.homepage.banner.title | safeHTML }}</h1>
          <h1 class="text-white font-tertiary" style="font-size:40px;">{{ .Site.Data.homepage.banner.subtitle | safeHTML }}</h1>
        </div>
      </div>
    </div>
    <div class="layer-bg w-100">
      <img class="img-fluid w-100" src="{{`images/illustrations/leaf-bg.svg` | relURL}}" alt="bg-shape">
    </div>
    <div class="layer" id="l2">
      <img src="{{`images/illustrations/dots-cyan.svg` | relURL}}" alt="bg-shape">
    </div>
    <div class="layer" id="l3">
      <img src="{{`images/illustrations/leaf-orange.svg` | relURL}}" alt="bg-shape">
    </div>
    <div class="layer" id="l4">
      <img src="{{`images/illustrations/dots-orange.svg` | relURL}}" alt="bg-shape">
    </div>
    <div class="layer" id="l5">
      <img src="{{`images/illustrations/leaf-yellow.svg` | relURL}}" alt="bg-shape">
    </div>
    <div class="layer" id="l6">
      <img src="{{`images/illustrations/leaf-cyan.svg` | relURL}}" alt="bg-shape">
    </div>
    <div class="layer" id="l7">
      <img src="{{`images/illustrations/dots-group-orange.svg` | relURL}}" alt="bg-shape">
    </div>
    <div class="layer" id="l8">
      <img src="{{`images/illustrations/leaf-pink-round.svg` | relURL}}" alt="bg-shape">
    </div>
    <div class="layer" id="l9">
      <img src="{{`images/illustrations/leaf-cyan-2.svg` | relURL}}" alt="bg-shape">
    </div>
    <!-- social icon -->
    <ul class="list-unstyled ml-5 mt-3 position-relative zindex-1">
      {{ range .Site.Data.homepage.banner.socialLinks }}
      <li class="mb-3"><a class="text-white" href="{{.URL}}"><i class="{{.icon}}"></i></a></li>
      {{ end }}
    </ul>
    <!-- /social icon -->
  </section>
  <!-- /hero area -->

  {{ if .Site.Data.homepage.about.enable }}
  <!-- about -->
  <section class="section pb-0">
    <div class="container">
      <div class="row">
        <div class="col-lg-10 mx-auto text-center">
          {{ with .Site.Data.homepage.about }}
          <p class="font-secondary lead text-dark">{{.content | markdownify}}</p>
          {{ end }}
        </div>
      </div>
    </div>
  </section>
  <!-- /about -->
  {{ end }}


  {{ if .Site.Data.homepage.features.enable }}
  <!-- services -->
  <section class="section">
    <div class="container">
      <div class="row">
        <div class="col-12 text-center">
          <h2 class="section-title">Features</h2>
        </div>
        {{ range .Site.Data.homepage.features.item }}
        <div class="col-md-4 mb-4">
          <div class="card {{if .highlighted }} active-bg-primary {{end}} hover-shadow shadow">
            <div class="card-body text-center px-4 py-5">
              <i class="{{.icon }} icon mb-5 d-inline-block"></i>
              <h4 class="mb-4">{{.title}}</h4>
              <p>{{.content | markdownify}}</p>
            </div>
          </div>
        </div>
        {{ end }}
      </div>
    </div>
  </section>
  <!-- /services -->
  {{ end }}


  {{ if .Site.Data.homepage.program.enable }}
  <!-- program -->
  <section class="section position-relative">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-title">Pillars</h2>
        </div>
        <div class="row" style="width:70%; margin:auto;">
        {{ range .Site.Data.homepage.program.item }}
        <div class="col-lg-5 mt-5">
          <div class="row">
            <div class="col-lg-2 text-center"><i class="{{ .fa }}"></i></div>
            <div class="col-lg-10 pt-2 text-center"><h4>{{ .title }}</h4></div>
          </div>
        </div>
        <div class="col-lg-1"></div>
        {{ end }}
        </div>
      </div>
    </div>
  </section>
  <!-- /program -->
  {{ end }}


  {{ if .Site.Data.homepage.installation.enable }}
  <!-- installation -->
  <section class="section">
    <div class="container">
      <div class="row">
        <div class="col-12 text-center">
          <h2 class="section-title">Easy installation</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12 mx-auto text-center">
          <p class="font-secondary lead text-dark">
            {{ .Site.Data.homepage.installation.text }}
          </p>
          <p class="jumbotron font-secondary lead text-dark text-left">
            <code>
              {{ .Site.Data.homepage.installation.code }}
            </code>
          </p>
        </div>
      </div>
    </div>
  </section>
  <!-- /installation -->
  {{ end }}

  {{ if .Site.Data.homepage.meet.enable }}
  <!-- about -->
  <section class="section">
    <div class="container">
      <div class="row">
        <div class="col-12 text-center">
          <h2 class="section-title">{{ .Site.Data.homepage.meet.title | markdownify }}</h2>
          <h4 class="section-title">
            <a href="{{ .Site.Data.homepage.meet.subtitle_link }}" target="_blank">
              {{ .Site.Data.homepage.meet.subtitle | markdownify }}
            </a>
          </h4>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-10 mx-auto text-center">
          <img src="{{ .Site.Data.homepage.meet.image }}" style="max-width: 100%;" >
          {{ with .Site.Data.homepage.meet }}
          <p class="font-secondary lead text-dark">{{.content | markdownify}}</p>
          {{ end }}
        </div>
      </div>
    </div>
  </section>
  <!-- /about -->
  {{ end }}

  {{ if .Site.Data.homepage.contribute.enable }}
  <!-- about -->
  <section class="section">
    <div class="container">
      <div class="row">
        <div class="col-12 text-center">
          <h2 class="section-title">Contribute</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-10 mx-auto text-center">
          {{ with .Site.Data.homepage.contribute }}
          <p class="font-secondary lead text-dark">{{.content | markdownify}}</p>
          {{ end }}
        </div>
      </div>
    </div>
  </section>
  <!-- /about -->
  {{ end }}


  {{ if .Site.Data.homepage.portfolio.enable }}
  <!-- portfolio -->
  <section class="section">
    <div class="container">
      <div class="row">
        <div class="col-12 text-center">
          <h2 class="section-title">Portfolio</h2>
        </div>
      </div>
      <div class="row shuffle-wrapper">
        {{ range .Site.Data.homepage.portfolio.item }}
        <div class="col-lg-4 col-6 mb-4 shuffle-item">
          <div class="position-relative rounded hover-wrapper">
            <img src="{{.image | absURL }}" alt="portfolio-image" class="img-fluid rounded w-100 d-block">
            <div class="hover-overlay">
              <div class="hover-content">
                <a class="btn btn-light btn-sm" href="{{ .projectURL }}">view project</a>
              </div>
            </div>
          </div>
        </div>
        {{ end }}
      </div>
    </div>
  </section>
  <!-- /portfolio -->
  {{ end }}


  {{ if .Site.Data.homepage.testimonial.enable }}
  <!-- testimonial -->
  <section class="section bg-primary position-relative testimonial-bg-shapes">
    <div class="container">
      <div class="row">
        <div class="col-12 text-center">
          <h2 class="section-title text-white mb-5">Testimonials</h2>
        </div>
        <div class="col-lg-10 mx-auto testimonial-slider">
          {{ range .Site.Data.homepage.testimonial.item }}
          <!-- slider-item -->
          <div class="text-center testimonial-content">
            <i class="ti-quote-right text-white icon mb-4 d-inline-block"></i>
            <p class="text-white mb-4">{{.content | markdownify}}</p>
            <img class="img-fluid rounded-circle mb-4 d-inline-block" src="{{.image | absURL }}" alt="client-image">
            <h4 class="text-white">{{.name }}</h4>
            <h6 class="text-light mb-4">{{ .designation }}</h6>
          </div>
          {{ end }}
        </div>
      </div>
    </div>
    <!-- bg shapes -->
    <img src="{{`images/backgrounds/map.png` | relURL }}" alt="map" class="img-fluid bg-map">
    <img src="{{`images/illustrations/dots-group-v.svg` | relURL }}" alt="bg-shape" class="img-fluid bg-shape-1">
    <img src="{{`images/illustrations/leaf-orange.svg` | relURL }}" alt="bg-shape" class="img-fluid bg-shape-2">
    <img src="{{`images/illustrations/dots-group-sm.svg` | relURL }}" alt="bg-shape" class="img-fluid bg-shape-3">
    <img src="{{`images/illustrations/leaf-pink-round.svg` | relURL }}" alt="bg-shape" class="img-fluid bg-shape-4">
    <img src="{{`images/illustrations/leaf-cyan.svg` | relURL }}" alt="bg-shape" class="img-fluid bg-shape-5">
  </section>
  <!-- /testimonial -->
  {{ end }}


  {{ if .Site.Data.homepage.clientSlider.enable }}
  <!-- client logo slider -->
  <section class="section pb-0">
    <div class="container">
      {{ partial "client-slider.html" . }}
    </div>
  </section>
  <!-- /client logo slider -->
  {{ end }}

  {{ if .Site.Data.homepage.blog.enable }}
  <!-- blog -->
  <section class="section">
    <div class="container">
      <div class="row">
        <div class="col-12 text-center">
          <h2 class="section-title">Blogs</h2>
        </div>
        {{ range first 3 .Data.Pages }}
        <div class="col-lg-4 col-sm-6 mb-4">
          <article class="card shadow">
            <img class="rounded card-img-top" src="{{.Params.Image | absURL}}" alt="post-thumb">
            <div class="card-body">
              <h4 class="card-title"><a class="text-dark" href="{{.Permalink}}">{{.Title }}</a>
              </h4>
              <p class="cars-text">{{.Summary}}</p>
              <a href="{{.Permalink}}" class="btn btn-xs btn-primary">Read More</a>
            </div>
          </article>
        </div>
        {{ end }}
      </div>
    </div>
  </section>
  <!-- /blog -->
  {{ end }}


{{ end }}
